<div class="tag-list">
{%- assign tags_array = "cycling, finances, housing, transit, newsletter, letters, event" | split: ", " -%}

<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  <option value = "Select a category">Select a category</option>
  <option value = "/All_Posts/">All posts</option>
  <option value = "/All_Posts/Cycling">Cycling</option>
  <option value = "/All_Posts/Finances">Finances</option>
  <option value = "/All_Posts/Housing">Housing</option>
  <option value = "/All_Posts/Transit">Transit</option>
  <option value = "/All_Posts/Newsletter">Newsletter</option>
  <option value = "/All_Posts/Letters">Letters</option>
  <option value = "/All_Posts/Event">Event</option>

</select>

</div>