<div class="tag-list">
{%- assign tags_array = "cycling, finances, housing, transit" | split: ", " -%}

<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
  <option value = "Select a category">Select a category</option>
  <option value = "/posts/">All posts</option>
  <option value = "/posts/cycling">Cycling</option>
  <option value = "/posts/finances">Finances</option>
  <option value = "/posts/housing">Housing</option>
  <option value = "/posts/transit">Transit</option>
</select>

</div>