---
layout: default
pagination:
  enabled: true
  per_page: 5
  collection: posts
  sort_field: date
  sort_reverse: true
---

<script>
  // retrieve all elements
var allElements = document.querySelectorAll('*');
var bigElements = 
  // use the filter function to filter get only elements you need
  Array.prototype.filter.call(
    allElements, 
               // compares occupied width with window width
    element => element.getBoundingClientRect().width > window.innerWidth
  );

// print resulting elements
bigElements.forEach(element => console.log(element));
if (!bigElements.length) console.log('Yaay! All elements fit. ');
</script>


<header class="hero-container header-section has-img w-100">
    <div class="intro-header big-img hero-img" >
      
        <div>
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
            <div class="page-heading">
              <h2>Strong Towns Ottawa</h2>
              
                  <hr class="small">
                  <span class="page-subheading">Strong Towns Ottawa focuses on making fiscally strong places that are self-sustaining, resilient, and nice to live in. Together, we can make a difference in the city we love.</span>
                
                    <div class="btn-group row">
                        <div class="col-lg-4 btn-col">
                        <a class="st-yellow-btn" href="https://discord.com/invite/{{ site.social-network-links.discord }}" target="_blank">
                            Join us on Discord
                        </a>
                    </div>
                    <div class="col-lg-4 btn-col">
                        <a class="st-yellow-btn" href="https://facebook.com/{{ site.social-network-links.facebook }}" target="_blank">
                            Join us on Facebok
                        </a>
                    </div>
                    <div class="col-lg-4 btn-col">
                        <a class="st-yellow-btn" href="mailto:{{ site.social-network-links.email }}" target="_blank">
                            Send us an email
                        </a>
                    </div>
                    </div>
              
              
            </div>
          </div>
        </div>
      </div>

    </header>

    <div class="container">
      <h2 style="text-align: center;">Our Latest Posts</h2>

{%- assign tags_array = "Cycling, Finances, Housing, Transit" | split: ", " -%}

{% include tag-filters.html %}

<div class="row mt-4">
  {% for post in paginator.posts limit: 3 %}
  <div class="col-lg-4 col-md-12 mt-3">

    <div class="card h-100">
      <div class="card-body">
<article class="post-preview">
      <a href="{{ post.url | relative_url }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        {% endif %}
      </a>
  
      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>
  
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    
  
      {% if post.tags.size > 0 %}
      <div class="blog-tags">
        Tags:
        {% for tag in post.tags %}
        <a href="{{ '/tag/' | append: tag | relative_url | downcase }}">{{ tag }}</a>

        </div>
        {% endfor %}
      </div>
      {% endif %}
  
     </article>
    </div>
    </div>

    {% endfor %}
  </div>
  
</div>
</div>

<div class="container">

<h2 style="text-align: center; margin-top: 3rem;">Events</h2>
<div class="row justify-content-center mb-4">
  <div class="col-lg-10 col-md-12">
    <div style="position:relative; width:100%; padding-bottom:75%; height:0; overflow:hidden;">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FToronto&showPrint=0&title=Strong%20Towns%20Ottawa&mode=MONTH&src=NmQ2MWEyOTNiNGQxNjNiZGMzZWQ2YjEwNmYyYTk5Njc3YzU2MTM3NTBjOWNkODFhOTM0MzRlNzBkYzk5MDc1YUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F4511E" style="border:solid 1px #777; position:absolute; top:0; left:0; width:100%; height:100%;" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>
  </div>
</div>

<h2 style="text-align: center;" class="mb-3">Our Values</h2>

<div class="row">
  <div class="col-lg-4 col-md-12 mt-3">
    <div class="card h-100">
  <img src="assets/img/Transit.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Transportation</h3>
    <h4 class="card-subtitle mt-3 mb-4">Getting around safely and equitably.</h4>
    <hr>
    <ul>

    <li>Make OC Transpo reliable and widespread</li>
    <li>Give people more options by expanding our active transportation network</li>
    <li>Improve street safety and eliminate road deaths</li>

    </ul>
    <a href="/transportation" class="st-yellow-btn d-flex justify-content-center">Learn about transportation</a>
  </div>
</div>
  </div>
  <div class="col-lg-4 col-md-12 mt-2">
    <div class="card h-100">
  <img src="assets/img/Housing.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Housing</h3>
    <h4 class="card-subtitle mt-3 mb-4">Everyone deserves a place to call home.</h4>
    <hr>
    <ul>

    <li>Reform outdated zoning codes that prohibit building more housing</li>
    <li>Build more affordable units for buyers and renters</li>
    <li>Gently densify across all our neighbourhoods</li>

    </ul>
    <a href="{{ '/housing' | relative_url }}" class="st-yellow-btn d-flex justify-content-center">Learn about Housing</a>
  </div>
</div>
  </div>
  <div class="col-lg-4 col-md-12 mt-2">
    <div class="card h-100">
  <img src="assets/img/Community.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Community</h3>
    <h4 class="card-subtitle mt-3 mb-4">Our city is more than just a place to exist.</h4>
    <hr>
    <ul>

    <li>Allow for mixed uses, bringing amenities closer and fostering community</li>
    <li>Make our street inviting places to be in</li>
    <li>More places to meet outside of home and work</li>

    </ul>
    <a href="/community" class="st-yellow-btn d-flex justify-content-center">Learn about Community</a>
  </div>
</div>
  </div>
</div>
</div>

